<html lang="tr">
<head>
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">    
</head>
<body>
<div class="container">
    <div class="text-center"><h3>Customer Behaviour Prediction System</h3></div>
	<div class="row">
	  <nav class="navbar navbar-default">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="">Home</a></li>
                <li><a href="products">Products</a>
            </ul>
            <ul  class="nav navbar-nav" style="float:right">
                <li style="text-transform: capitalize"><a>{{this.username}}</a> </li>
                <li><a href="/login" onclick="logout()">Log Out</a></li>
            </ul>
        </div>
        </nav>	 	 
	</div>
</div>
<div class="push"></div>
</body>
</html>
